html, body {
  font-family: "PT Sans", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

::selection {
  color: #fff;
  background-color: #202846;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px 100px 10px 100px;
  box-sizing: border-box;
  background-color: #202846;
}

.site-logo {
  height: 100%;
  margin-right: 100px;
  cursor: pointer;
}

.style-link {
  font-weight: 600;
  font-size: 23px;
  text-decoration: none;
  transition: 0.5s;
  color: #fff;
}

.style-link:hover {
  color: #b1b1b1;
}

.separator {
  margin-left: 23px;
  margin-right: 23px;
  color: #fff;
}

.globe-icon {
  height: calc(100% - 10px);
  margin-right: 7px;
}

.drop-down-list {
  cursor: pointer;
  font-weight: 600;
  font-size: 23px;
  text-align: center;
  color: #fff;
  background-color: #202846;
}

.style-item-for-select {
  font-weight: 600;
  font-size: 23px;
  color: #fff;
}

/* Wrapper */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 53px 136px;
  box-sizing: border-box;
  background-color: #dcdcdc;
}

/* Container-photo-top */

.wrapper-photo-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 369px;
  margin-bottom: 53px;
  background-image: url(./img/mountains.png);
}

.name-of-the-recreation-center {
  font-weight: 700;
  font-size: 60px;
  margin: 0;
  color: #fff;
}

.photo-top-descr {
  font-size: 35px;
  margin: 0;
  color: #fff;
}

.exclamation-point {
  font-size: 49px;
}

/* Container-photo-center */

.wrapper-photo-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  width: 100%;
  height: 604px;
  margin-bottom: 53px;
  background-image: url(./img/recreation-center.png);
}

.right-arrow {
  width: 51px;
  height: 91px;
  margin-right: 32px;
}

.container-for-descr-photo-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 80%;
  height: 167px;
  margin-top: 82px;
  text-align: left;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
}

.about-the-carpathians {
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  color: #202846;
}

.ellipse-light-about-the-carpathians, .ellipse-dark-about-the-carpathians {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 8px;
}

.ellipse-light-about-the-carpathians {
  background-color: #a5bb4f;
}

.ellipse-dark-about-the-carpathians {
  background-color: #215023;
}

.container-ellipses {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 20px;
  padding-right: 215px;
  box-sizing: border-box;
  margin-top: 15px;
}

/* Container-photo-bottom */

.wrapper-photo-bottom {
  width: 100%;
  height: 412px;
  padding: 31px 70px 31px 70px;
  box-sizing: border-box;
  margin-bottom: 53px;
  background-color: rgba(193, 193, 195, 0.9);
}

.container-for-material {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 349px;
}

.container-for-photo, .container-for-descr {
  width: calc(50% - 9px);
  height: 100%;
}

.container-for-photo {
  background-position: 50%;
  background-image: url(./img/people-near-nature.png);
}

.container-for-descr {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(234, 234, 235, 0.7);
}

.about-rest {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin: 0;
  color: #202846;
}

/* Wrapper-contact-form */

.wrapper-contact-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 465px;
}

.container-contact-form {
  width: 50%;
  height: 465px;
  border: 3px solid rgba(170, 170, 170, 0.2);
  padding-top: 21px;
  box-sizing: border-box;
  margin-left: 272px;
  background-color: #f2eeee;
}

.feedback {
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin: 0;
  margin-bottom: 31px;
  color: #414141;
}

.your-name, .your-phone {
  font-weight: 400;
  font-size: 26px;
  text-align: left;
  margin: 0;
  margin-left: 55px;
  margin-bottom: 16px;
  color: #323236;
}

.form-for-your-name, .form-for-your-phone {
  width: calc(100% - 110px);
  height: 62px;
  border: 2px solid #90a4ae;
  font-weight: 400;
  font-size: 20px;
  padding-left: 28px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 55px;
  box-sizing: border-box;
  color: #90a4ae;
}

.form-for-your-name {
  margin-bottom: 16px;
}

.form-for-your-phone {
  margin-bottom: 36px;
}

.button-request-call {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 104px;
  transition: 1s;
  background-color: #444765;
}

.button-request-call:hover {
  background-color: #565a7c;
}

.request-call {
  font-weight: 400;
  font-size: 32px;
  margin: 0;
  color: #fff;
}

/* Ellipse-for-arrow */

.ellipse-for-arrow {
  cursor: pointer;
  width: 101px;
  height: 101px;
  border-radius: 100%;
  margin-left: 171px;
  transition: 1s;
  background-color: rgba(85, 87, 104, 0.62);
}

.ellipse-for-arrow:hover {
  background-color: rgba(193, 193, 195, 0.62);
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  background-color: #202846;
}

.footer-rights-of-defense {
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  color: #eeecf1;
}